* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(img/arvore_upscayl_5x_digital-art-4x.png);
    background-size: cover;
    background-position: center;
}

.conjunto {
    width: 27rem;
    height: 20rem;
    background-color: transparent;
    border: 0.125rem solid rgba(255, 255, 255, 0.2);
    border-radius: 0.625rem;
    color: #fff;
    padding: 1.2rem 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    backdrop-filter: blur(5px);
}

.conjunto h1 {
    font-size: 2.25rem;
    text-align: center;
    margin: 0 0 1rem;
}

.login {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px, 0;
}

.login input {
    width: 87%;
    height: 90%;
    background-color: transparent;
    border: 2px solid;
    border-radius: 40px;
    outline: none;
    font-size: 1rem;
    color: #fff;
    padding: 1.25rem, 1rem, 1.25rem ,1.25rem;
    padding-left: 9px;
}

.login input::placeholder {
    color: #ffffff79;
    
}

.login i {
    position: relative;
    right: 45px;
    font-size: 17p;
}


.lembrar {
    display: flex;
    justify-content: space-between;
    margin: 0 0 15px;
}

.lembrar label input {
    accent-color: #fff;
    margin: 1px;
    margin-top: 1rem;
}

.lembrar a {
    margin-top: 0.8rem;
    text-decoration: none;
    color: #fff;
}

.lembrar a:hover{
    text-decoration: underline;
}

.botao {
    width: 100%;
    height: 50px;
    background-color: #fff ;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin-bottom: 0.6rem;
    font-size: large;
    font-weight: 600;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.botao:hover{
    background-color: transparent;
    color: #fff;
    transition: 0.5s;
}

.registro {
    text-align: center;
    font-weight: 400;
}

.registro a {
    color: #fff;
    text-decoration: none;
}

.registro a:hover {
    text-decoration: underline;
}